<mat-card-header>
    <div mat-card-avatar class="example-header-image4"></div>
              <mat-card-title class="responsive-title">Glen Lozada</mat-card-title>
              <mat-card-subtitle class="d-flex gap-2">Class Type: English | Date: 2024/08/24 </mat-card-subtitle>
  </mat-card-header>
    <mat-dialog-content>
        <mat-card-subtitle class="responsive-title">Special title treatment</mat-card-subtitle>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
    </mat-dialog-content>
  
    