/* mat-dialog-content{
    
    overflow-y: scroll; 
    scrollbar-width: thin; 
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

mat-dialog-content::-webkit-scrollbar {
    display: none;
    width: 8px; 
    border-radius: 1rem;
}

mat-dialog-content::-webkit-scrollbar-thumb {
    display: none;
    background-color: rgba(0, 0, 0, 0.3); 
} */

.example-header-image4 {
    background-image: url('/samplePic/Yoriichi Tsugikuni.jfif');
  }