.container-fluid {
  overflow-y: auto; /* Allows vertical scrolling */
  height: 90vh; /* Set a height to enable scrolling */
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.container-fluid::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}


.ancmnt-section {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: #6c757d;

  .list-group-item {
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer; /* Change cursor to pointer */
    /* width: 600px; */
    margin-bottom: 20px;
  }
  
  .list-group-item:hover {
    background-color: #f1f1f1; /* Light background on hover */
  }
  
  blockquote {
    padding-left: 1rem; /* Padding for blockquote text */
    margin: 10px; /* Remove default margin */
  }
  
  .blockquote-footer {
    font-size: 0.9em; /* Slightly smaller font for footer */
    color: #6c757d; /* Muted color for footer text */
  }
}

.ancmnt-section .card-body {
  max-height: 300px; /* Set the maximum height for the announcements section */
  overflow-y: auto;  /* Enable vertical scrolling */
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
}

.custom-tab-label {
  font-weight: bold; /* Make the label bold */
  font-size: medium; /* Change to medium font size */
  cursor: pointer; /* Change the cursor to pointer */
}


.banner {
  display: flex;
  align-items: center;
  background-color: #003366;
  color: #ffffff;
  padding: 20px 40px;
  border-radius: 20px;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  /* gap: 50px; */
}

.illustration {
  display: flex;
  align-items: right;
  justify-content: right;
  max-width: 60%; /* Set max-width to control image area */
  padding-right: 20px;
}

.illustration img {
  width: 100%;
  max-width: 600px;
  margin-left: 4rem;
}

.date {
  font-size: 20px;
  opacity: 0.8;
  padding-bottom: 4rem;
}

.welcome-message {
  font-size: 26px;
  font-weight: bold;
}

.subtext {
  font-size: 16px;
  margin-top: 5px;
  opacity: 0.9;
}