<div class="container-fluid mt-3">
  <mat-tab-group>
    <mat-tab label="Subjects">
      
      <span class="h4">Current Subjects</span>
      <mat-card class="joined-clubs-card mt-3 mb-2">
        <mat-card-content>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Subject Name</th>
                <th>Teacher</th>
                <th>Class Schedule</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subs of Subjects">
                <td>{{ subs.name }}</td>
                <td>{{ subs.teacher }}</td>
                <td>{{ subs.class_sched }}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Announcements" > 
      <div class="col-md  announcement">
        <span class="h4" matBadgeColor="accent" matBadge="2">Announcements</span>
        <mat-accordion >
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> This is the expansion title </mat-panel-title>
              <mat-panel-description> This is a summary of the content </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> This is the expansion title </mat-panel-title>
              <mat-panel-description> This is a summary of the content </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Messages"> 
      <div class="col-md">
        <span class="h4">Messages</span>
        <mat-card class="joined-clubs-card mt-3 mb-2">
          <mat-card-header>
          </mat-card-header>
          <mat-card-content>
            <ul class="clubs-list m-2">
              <li *ngFor="let subs of Subjects" class="subss-item">
                <strong>{{ subs.name }} | {{subs.teacher}}</strong>
                <br>{{ subs.class_sched }} 
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
       </mat-tab>
  </mat-tab-group>
</div>