
<div class="container ">
    <blockquote class="blockquote mb-4" style="border-bottom: 2px solid; border-bottom-color: black;">
        <strong> Payment Approval</strong>
    </blockquote>
    <div class="row g-2">
        <div class="col-md-12">
            <div class="card border-info mb-3" >
                <div class="card-header text-primary">
                    <i class="bi bi-person-lines-fill text-primary"></i>
                    <strong class="text-dark">LRN:</strong>725992359<br>
                    <i class="bi bi-person-circle text-primary"></i>
                    <strong class="text-dark"> Student Name: </strong>Subido Arjay
                </div>
                <div class="card-body">
                <h6 class="card-title text-success text-center"><strong>The Director of Studet Finance has been confirmed your payment. <br> Thank you for the payment you made.</strong></h6>
                    
                </div>
                <div class="card-footer d-flex">
                <div class="col-md">
                    <div class="card-title">
                        <p >Please confirm the details that you made in your payment.</p>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <span class="card-title h5"><strong>Date of Payment</strong></span>
                                <span class="text-primary h4"><i class="bi bi-calendar-check"></i></span>
                            </div>
                            <p class="card-text mt-2">2024-08-19</p>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <span class="card-title h5"><strong>Amount</strong></span>
                                <span class="text-warning h4"><i class="bi bi-coin"></i></span>
                            </div>
                            <p class="card-text mt-2">&#8369;15,783.00</p>
                        </div>
                    </div>
                </div> 
                </div>
            </div>
            </div>
            <button class="btn btn-success" style="float:right;" type="submit">Next</button>
    </div>
</div>
