<section>
    <div class="container ">
        <blockquote class="blockquote mb-4" style="border-bottom: 2px solid; border-bottom-color: black;">
            <strong>Confirmation of Official Registration</strong>
        </blockquote>

        <div class="row g-2">
            <div class="col-md-12">
                <div class="card border-info mb-3" >
                  <div class="card-header text-primary"><i class="bi bi-exclamation-octagon text-danger"></i>
                    Wait for the confirmation of your registration and Voila! You are now officially Enrolled!</div>
                  <div class="card-body">
                    <h6 class="card-title text-success text-center"><strong>You are now Officially Enrolled!</strong></h6>
                      
                  </div>
                </div>
                <a class="btn btn-success" type="submit" routerLink="/login" >Proceed to Log In</a>
              </div>
              
        </div>
    </div>
</section>