<section>
    <div class="container mt-3">
      <app-stepper></app-stepper>

      <div class="row mt-3">
        <div class="col-md mb-3 form-col">
          <div class="card header">
            <img src="/nlac1.jpg" 
                 class="card-img" 
                 alt="Northern Luzon Adventist College Academy" 
                 style="object-fit: cover; height: 30vh;">
            <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title text-white"><strong>Northern Luzon Adventist College Academy</strong></h5>
              <h6 class="card-text text-white">The School that Prepares for Life</h6>
            </div>
          </div>
          </div>
          <div class="col-md-12">
              <div class="card border-info mb-3">
                  <div class="card-header text-primary d-flex align-items-center">
                      <i class="bi bi-exclamation-octagon text-warning me-2" style="font-size: 1rem;"></i>
                      <span style="font-size: .9rem;">Wait for the confirmation of your registration and Voila! You are now officially Enrolled!</span>
                  </div>
                  <div class="card-body text-center">
                    <ng-container *ngIf="reg_approval; else waitingTemplate">
                      <h6 class="card-title text-success"><strong>You are now Officially Enrolled!</strong></h6>
                      <div class="mt-3">
                        <i class="bi bi-check-circle text-success" style="font-size: 3rem;"></i>
                      </div>
                      <p class="mt-2">Congratulations on completing your registration! You can now access all the resources available to you.</p>
                    </ng-container>
                  
                    <ng-template #waitingTemplate>
                      <h6 class="card-title text-warning"><strong>Waiting for Official Registration</strong></h6>
                      <div class="mt-3">
                      </div>
                      <p class="mt-2">Your registration is currently under review. Please check back later for updates.</p>
                    </ng-template>
                  </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-success" 
                       routerLink="/login" 
                       [disabled]="!reg_approval">
                        <i class="bi bi-arrow-right-circle"></i> Proceed to Portal
                    </button>
                </div>
              </div>
          </div>
      </div>
    </div>
</section>