<div class="container mt-3">
    <div class="row">
      <nav aria-label="breadcrumb ">
        <ol class="breadcrumb ">
          <li class="breadcrumb-item ">
            <a class="text-primary" routerLink="/register/personal-information">Personal Info</a>
          </li>
          <li class="breadcrumb-item active text-dark" aria-current="page">Enrollment Details</li>
        </ol>
      </nav>
      
      <div class="col-md image">
        <div class="card header">
          <img src="/nlac1.jpg" 
               class="card-img" 
               alt="Northern Luzon Adventist College Academy" 
               style="object-fit: cover; height: 30vh;">
          <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white"><strong>Northern Luzon Adventist College Academy</strong></h5>
            <h6 class="card-text text-white">The School that Prepares for Life</h6>
          </div>
        </div>
        <div class="col-md">
        <div class="card-body">
            <blockquote class="blockquote m-3" style="border-bottom: 2px solid; border-bottom-color: black;">
              <strong>Enrollment Process</strong>
            </blockquote>
            
            <div class="list-group">
              <a class="list-group-item list-group-item-action">
                <i class="bi bi-check-circle-fill text-success h3 mx-2" style="float: left;"></i>
                <strong class="text-secondary">Personal Information</strong>: Fill up the required fields in the Personal Information form, including your full name, date of birth, gender, address, and contact information. Ensure all details are accurate to avoid issues later.
              </a>
              
              <a class="list-group-item list-group-item-action">
                <i class="bi bi-2-circle-fill text-warning h3 mx-2" style="float: left;"></i>
                <strong>Enrollment Details</strong>: Provide your enrollment details such as the grade level you are applying for, the strand (if applicable), and any previous school information. This helps us understand your academic background.
              </a>
              
              <a class="list-group-item list-group-item-action">
                <i class="bi bi-3-circle-fill text-warning h3 mx-2" style="float: left;"></i>
                <strong class="text-secondary">Payment</strong>: Review the tuition fees and payment options available. Make sure to complete the payment process by the specified deadline to secure your enrollment.
              </a>
              
              <a class="list-group-item list-group-item-action">
                <i class="bi bi-4-circle-fill text-warning h3 mx-2" style="float: left;"></i>
                <strong class="text-secondary">DSF Approval</strong>: Await approval from the Department of Student Affairs (DSF). You may need to provide additional documents or information if requested. Check your email regularly for updates on your application status.
              </a>
              
              <a class="list-group-item list-group-item-action">
                <i class="bi bi-5-circle-fill text-warning h3 mx-2" style="float: left;"></i>
                <strong class="text-secondary">Student Contract</strong>: Review and sign the student contract, which outlines the terms and conditions of enrollment. Make sure you understand all clauses before signing.
              </a>
              
              <a class="list-group-item list-group-item-action">
                <i class="bi bi-6-circle-fill text-warning h3 mx-2" style="float: left;"></i>
                <strong class="text-secondary">Official Registration</strong>: Wait for the registration decision from the school administration. Follow up as needed to ensure your application is processed in a timely manner. Once approved, you will receive confirmation and further instructions.
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md mb-3 form-col">
        <blockquote class="blockquote mb-4" style="border-bottom: 2px solid; border-bottom-color: black;">
          <h6><strong>Enrollment Details <span class="badge text-bg-primary mb-2">{{ enrollment?.lname }} {{ enrollment?.fname }}</span></strong></h6> 
          </blockquote>
  
          <form (ngSubmit)="onSubmit()" #personalInfoForm="ngForm">
            <div class="row g-2" style="display: none;">
              <div class="col-md">
                <div class="form-floating mb-2">
                  <input type="text" name="LRN" [(ngModel)]="enrollment.LRN" class="form-control" id="floatingInput" placeholder="123456789" required>
                  <label for="floatingInput"><i class="bi bi-123"></i> LRN</label>
                </div>
              </div>
            </div>
          
            <div class="row g-2">
              <div class="col-md">
                  <mat-form-field appearance="fill" class="w-100">
                      <mat-label>
                          Last Attended 
                          <span matTooltip="School that you attended last year" matTooltipPosition="above">
                                  <i class="bi bi-exclamation-circle text-danger"></i>
                          </span>
                      </mat-label>
                      <input matInput type="text" id="last_attended" name="last_attended" [(ngModel)]="enrollment.last_attended" required>
                  </mat-form-field>
              </div>
          
              <div class="col-md">
                  <mat-form-field appearance="fill" class="w-100">
                      <mat-label>School Year
                          <span matTooltip="e.g., 2023-2024" matTooltipPosition="above">
                              
                                  <i class="bi bi-exclamation-circle text-danger"></i>
                              
                          </span>
                      </mat-label>
                      <input matInput type="text" id="school_year" name="school_year" [(ngModel)]="enrollment.school_year" required>
                  </mat-form-field>
              </div>
          </div>

            <div class="row g-2">
              <div class="col-md mb-3">
                <mat-radio-group name="public_private" [(ngModel)]="enrollment.public_private" required>
                    <mat-radio-button value="public">Public</mat-radio-button>
                    <mat-radio-button value="private">Private</mat-radio-button>
                </mat-radio-group>
            </div>
              <div class="col-md">
                        <mat-form-field>
                          <mat-label>Grade Level</mat-label>
                          <mat-select id="grade_level" [(ngModel)]="enrollment.grade_level" name="grade_level" required>
                              <mat-option value="7">Grade 7</mat-option>
                              <mat-option value="8">Grade 8</mat-option>
                              <mat-option value="9">Grade 9</mat-option>
                              <mat-option value="10">Grade 10</mat-option>
                              <mat-option value="11">Grade 11</mat-option>
                              <mat-option value="12">Grade 12</mat-option>
                          </mat-select>
                        </mat-form-field>
                        </div>

                        <div class="col-md">
                        <div *ngIf="enrollment.grade_level === '11' || enrollment.grade_level === '12'">
                          <mat-form-field>
                              <mat-label>Strand</mat-label>
                              <mat-select id="strand" [(ngModel)]="enrollment.strand" name="strand">
                                  <mat-option value="abm">ABM</mat-option>
                                  <mat-option value="stem">STEM</mat-option>
                                  <mat-option value="humms">HUMMS</mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                        </div>
                      </div>
        
            <div class="row g-2">
                <div class="col-md">
                    <mat-form-field class="w-100">
                        <mat-label>Guardian's Name</mat-label>
                        <input matInput id="guardianName" name="guardian_name" [(ngModel)]="enrollment.guardian_name" required>
                    </mat-form-field>
                </div>
        
                <div class="col-md">
                  <mat-form-field class="w-100">
                      <mat-label>Current Address</mat-label>
                      <input matInput type="text" id="currentAddress" name="current_address"  required>
                  </mat-form-field>
              </div>
            </div>
            <button mat-raised-button class="btn btn-success mb-2" type="submit" [disabled]="personalInfoForm.invalid" style="float:right;">Submit</button>
        </form>
      </div>
    </div>
  </div>