<div class="container ">
    <blockquote class="blockquote mb-4" style="border-bottom: 2px solid; border-bottom-color: black;">
        <strong> Student Contract</strong>
    </blockquote>
    <div class="row g-2">
        <div class="col-md">
            <div class="card border-success mb-3" >
                <div class="card-header text-primary"><i class="bi bi-exclamation-octagon text-danger"></i> 
                    Note: This is needed before the VP Student Services will approve your enrolment.</div>
                <div class="card-body">
                    <h6 class="card-title" style="font-size: large;">Download the file of student contract applicable to you and send the accomplished form to: <br>
                    <a href="" class="text-success"><span>nlacstudentservicesgmail.com</span></a><br>
                    <a href="" class="nav-link text-primary">Contract for 17 years old and below</a>
                    <a href="" class="nav-link text-primary">Contract for 18 years old and above</a></h6>
                </div>
                </div>
            <button class="btn btn-success" style="float:right;" type="submit">Next</button>
        </div>
    </div>
</div>
