<section>
    <div class="container mt-3">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb ">
            <li class="breadcrumb-item ">
              <a class="text-primary" routerLink="/register/dsf-approval">DSF Approval</a>
            </li>
            <li class="breadcrumb-item active text-dark" aria-current="page">Student Contract</li>
          </ol>
        </nav>
        
        
        
            
        <div class="col-md image">
          <div class="card header">
            <img src="/nlac1.jpg" 
                 class="card-img" 
                 alt="Northern Luzon Adventist College Academy" 
                 style="object-fit: cover; height: 30vh;">
            <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title text-white"><strong>Northern Luzon Adventist College Academy</strong></h5>
              <h6 class="card-text text-white">The School that Prepares for Life</h6>
            </div>
          </div>
          <div class="col-md ">
          <div class="card-body enrollment_proccess">
              <blockquote class="blockquote m-3" style="border-bottom: 2px solid; border-bottom-color: black;">
                <strong>Enrollment Process</strong>
              </blockquote>
              
              <ul class="list-group">
                <li class="list-group-item disabled" aria-disabled="true"><i class="bi bi-check-circle-fill h3 text-success mx-2" style="float: left;"></i><strong  class="text-secondary"> Personal Information</strong>: Explore available programs and courses.</li>
                <li class="list-group-item"><i class="bi bi-check-circle-fill h3 text-success mx-2" style="float: left;"></i><strong> Payment</strong>: Gather necessary documents like transcripts and ID.</li>
                <li class="list-group-item"><i class="bi bi-check-circle-fill h3 text-success mx-2" style="float: left;"></i><strong> DSF Approval</strong>: Fill out the application form accurately.</li>
                <li class="list-group-item"><i class="bi bi-4-circle-fill h3 mx-2" style="float: left;"></i><strong> Student Contract</strong>: Send your application along with required fees.</li>
                <li class="list-group-item"><i class="bi bi-5-circle-fill h3 mx-2" style="float: left;"></i><strong class="text-secondary"> Official Registration</strong>: for the admission decision and follow up as needed.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md mb-3 form-col">
          <div class="card-header text-dark">
            <div class="student_name mt-2">
                <h6><strong>Subido Arjay C. </strong> <span class="badge text-bg-primary">Grade 8</span></h6> 
              </div>
        </div>
             <div class="col-md">
                  <div class="card border-success mb-3" >
                      <div class="card-header text-primary"><i class="bi bi-exclamation-octagon text-danger"></i> 
                          Note: This is needed before the VP Student Services will approve your enrolment.</div>
                      <div class="card-body" style="background:transparent;">
                          <h6 class="card-title" style="font-size: large;">Download the file of student contract applicable to you and send the accomplished form to: <br>
                          <a href="" class="text-success"><span>nlacstudentservicesgmail.com</span></a><br>
                         </h6>
                      </div>
                      </div>
                  <button class="btn btn-success" style="float:right;" type="submit">Next</button>
              </div>
          </div>
    </div>
</div>
</section>