<!-- <mat-nav-list>
  <a mat-list-item (click)="selectOption('subjects')">
    <span matListItemTitle><img class="img-fluid m-2" style="width: 30px; height: 30px;" src="test.png" alt="" >Subjects</span>
    <span matLine>View your subjects</span>
  </a>
  
  

  <a mat-list-item (click)="selectOption('messages')">
    <span matListItemTitle><img class="img-fluid m-2" style="width: 30px; height: 30px;" src="test.png" alt="" >Messages</span>
    <span matLine>View your messages</span>
  </a>

  
</mat-nav-list> -->