<div class="container ">
    <blockquote class="blockquote mb-4" style="border-bottom: 2px solid; border-bottom-color: black;">
        <strong>ID Photo</strong>
    </blockquote>
    <div class="row g-2">
        <div class="col-md">
            <div class="card border-success mb-3" >
                <div class="card-header text-primary" ><i class="bi bi-exclamation-octagon text-danger"></i> 
                    Note: Kindly wear White Polo Shirt for ID Picture taking. <strong>NO JEWELRIES,PROPER HAIR COLOR (BLACK). PROPER HAIRCUT IS REQUIRED.</strong></div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <label class="card-title h5"><strong>ID Photo</strong></label>
                        <span class="text-primary h4"><i class="bi bi-person-square"></i></span>
                    </div>
                    
                    <div class="text-center selected-image">
                        <img src="Zeni.jfif" alt="" style="width: 150px; height: auto; border-radius: 25%;"> <br>
                        <div class="mt-2 mb-2">
                            <a class="">Selected Image</a>
                        </div>
                    </div>
                    <div class="d-flex gap-2">
                        <input type="file" id="imageUpload" class="form-control" accept="image/*">
                        <button class="btn btn-success ms-3 mx-2" style="float:right;" type="submit">Submit</button><br>
                    </div>
                </div>
                
                </div>
        </div> 
        <button class="btn btn-success" style="float:right;" type="submit">Next</button>
    </div>
</div>
