.blockquote{
    font-size: 20px;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  @media (max-width: 576px){
    .container-fluid{
        margin: 0;
        padding: 0;
    }
  }