.blockquote{
    font-size: 20px;
}

.enrollment_proccess{
  border-radius: .5rem;
  /* background-color: #d9d9d9; */
}

@media (max-width: 576px){
    .card-header, .card-body, .card-footer{
        font-size: 14px;
      }

      h6{
        font-size: 15px;
      }
}

strong{
  font-weight: 700;
}

.swal-popup {
  margin: 20px; /* Adjust margin as needed */
}

.swal-image {
  margin: 10px auto; /* Center the image with auto margins */
}

.swal-close-button {
  margin-top: 10px; /* Optional margin for close button */
}
