<section>
    <div class="container mt-3">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb ">
            <li class="breadcrumb-item ">
              <a class="text-primary" routerLink="/register/personal-information">Payment</a>
            </li>
            <li class="breadcrumb-item active text-dark" aria-current="page">DSF Approval</li>
          </ol>
        </nav>
            
        <div class="col-md image">
          <div class="card header">
            <img src="/nlac1.jpg" 
                 class="card-img" 
                 alt="Northern Luzon Adventist College Academy" 
                 style="object-fit: cover; height: 30vh;">
            <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title text-white"><strong>Northern Luzon Adventist College Academy</strong></h5>
              <h6 class="card-text text-white">The School that Prepares for Life</h6>
            </div>
          </div>
          <div class="col-md ">
          <div class="card-body enrollment_proccess">
              <blockquote class="blockquote m-3" style="border-bottom: 2px solid; border-bottom-color: black;">
                <strong>Enrollment Process</strong>
              </blockquote>
              
              <mat-list>
                <mat-list-item><i class="bi bi-check-circle-fill h3 text-success mx-2" style="float: left;"></i><strong  class="text-secondary"> Personal Information</strong>: Explore available programs and courses.</mat-list-item>
                <mat-list-item><i class="bi bi-check-circle-fill h3 text-success mx-2" style="float: left;"></i><strong> Payment</strong>: Gather necessary documents like transcripts and ID.</mat-list-item>
                <mat-list-item><i class="bi bi-3-circle-fill h3 mx-2" style="float: left;"></i><strong> DSF Approval</strong>: Fill out the application form accurately.</mat-list-item>
                <mat-list-item><i class="bi bi-4-circle-fill h3 mx-2" style="float: left;"></i><strong class="text-secondary"> Student Contract</strong>: Send your application along with required fees.</mat-list-item>
                <mat-list-item><i class="bi bi-5-circle-fill h3 mx-2" style="float: left;"></i><strong class="text-secondary"> Official Registration</strong>: Wait for the admission decision and follow up as needed.</mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>

        <div class="col-md mb-3 form-col">
          <div class="card border-info mb-3" >
              <div class="card-header text-dark">
                  <div class="student_name mt-2">
                      <h6><strong>Subido Arjay C. </strong> <span class="badge text-bg-primary">Grade 8</span></h6> 
                    </div>
              </div>
              <div class="card-body">
              <h6 class="card-title text-success text-center"><strong>The Director of Student Finance has been confirmed your payment. <br> Thank you for the payment you made.</strong></h6>
                  
              </div>
              <div class="card-footer d-flex">
              <div class="col-md">
                  <div class="card-title">
                      <p >Please confirm the details that you made in your payment.</p>
                  </div>
                  <div class="card mb-2">
                      <div class="card-body">
                          <div class="d-flex justify-content-between">
                              <span class="card-title h5"><strong>Date of Payment</strong></span>
                              <span class="text-primary h4"><i class="bi bi-calendar-check"></i></span>
                          </div>
                          <p class="card-text mt-2">2024-08-19</p>
                      </div>
                  </div>
                  <div class="card mb-2">
                      <div class="card-body">
                          <div class="d-flex justify-content-between">
                              <span class="card-title h5"><strong>Amount</strong></span>
                              <span class="text-warning h4"><i class="bi bi-coin"></i></span>
                          </div>
                          <p class="card-text mt-2">&#8369;15,783.00</p>
                      </div>
                  </div>

                  <button class="btn btn-success" style="float:right;" type="submit">Next</button><br>
              </div> 
              </div>
          </div>
         
      </div>
    </div>
</div>
</section>