.blockquote{
    font-size: 20px;
}

.enrollment_proccess{
  border-radius: .5rem;
  /* background-color: #d9d9d9; */
}

@media (max-width: 576px){
    .card-header, .card-body, .card-footer{
        font-size: 14px;
      }

      h6{
        font-size: 15px;
      }
}