<!-- Large Screen Devices -->
<div class="container-fluid mt-3 Large-Screen-Devices">
  <div class="row">
    <div class="col-md-3">
      <mat-toolbar class="d-flex justify-content-between align-items-center" style="background-color: transparent; border-bottom: 1px solid;">
        <p class="h4 m-0">Chats</p>
        <button style="border-radius: 50%; border: none; outline: none; background-color: rgb(236, 233, 233);">
          <i class="bi bi-pencil-square"></i>
        </button>
      </mat-toolbar>
      
      <form class="d-flex mt-1" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
      </form>
      
      <div class="left-message-bar m-0">
        <!-- List of Users -->
        <div class="user-list-item">
          <img src="Zeni.jfif" alt="User" class="rounded-circle me-1" width="40" height="40">
          <span> Arjay Subido</span>
        </div>
        <div class="user-list-item">
          <img src="samplePic/download2.jfif" alt="User" class="rounded-circle me-1" width="40" height="40">
          <span> Mario "Miko" Ofiaza III</span>
        </div>
        <div class="user-list-item">
          <img src="samplePic/download.jfif" alt="User" class="rounded-circle me-1" width="40" height="40">
          <span> Glenson Lozada</span>
        </div>
        <div class="user-list-item">
          <img src="samplePic/download1.jfif" alt="User" class="rounded-circle me-1" width="40" height="40">
          <span> Jhonnel Manaois</span>
        </div>
        <div class="user-list-item">
          <img src="samplePic/Yoriichi Tsugikuni.jfif" alt="User" class="rounded-circle me-1" width="40" height="40">
          <span> Dionece Collano</span>
        </div>
      </div>
    </div>



    <div class="col-md-9" style="border-radius: 1.5rem;">
      <div class="message-box card">
        <div class="chat-header d-flex align-items-center p-2" style="border-bottom: 1px solid; border-bottom-color: black;">
          <img src="samplePic/download2.jfif" alt="User" class="rounded-circle" width="40" height="40">
          <span class="ms-2" style="font-weight:500;">Mario "Miko" Ofiaza III</span>
        </div>

        <div class="chat-area">
          <div class="message received">
            <img src="samplePic/download2.jfif" alt="User" class="rounded-circle" width="40" height="40">
            <div class="message-content ms-2">Magpasa ka na ng assignment mo</div>
          </div>
          <div class="message sent">
            <div class="message-content">Wala akong pake</div>
          </div>
          <div class="message received">
            <img src="samplePic/download2.jfif" alt="User" class="rounded-circle" width="40" height="40">
            <div class="message-content ms-2">Bakit?</div>
          </div>
          <div class="message received">
            <img src="samplePic/download2.jfif" alt="User" class="rounded-circle" width="40" height="40">
            <div class="message-content ms-2">HAHAHAHHA</div>
          </div>
          <div class="message sent">
            <div class="message-content">gegege</div>
          </div>
        </div>

        <div class="card-footer text-body-secondary">
          <form class="d-flex mt-2" role="search">
            <input class="form-control me-2" type="search" placeholder="Aa" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Mobile Devices -->
<div class="container-fluid Mobile-Devices">
  
      <mat-toolbar class="d-flex justify-content-between align-items-center" style="background-color: transparent; border-bottom: 1px solid;">
        <p class="h4 m-0">Chats</p>
        <button style="border-radius: 50%; border: none; outline: none; background-color: rgb(236, 233, 233);">
          <i class="bi bi-pencil-square"></i>
        </button>
      </mat-toolbar>
      
      <form class="d-flex mt-1" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
      </form>

      <div class="users-list d-flex gap-2 m-3">
        <div class="user text-center">
          <img src="Zeni.jfif" alt="User" class="rounded-circle me-1" width="40" height="40"><br>
          <span >Arjay</span>
        </div>
        <div class="user text-center">
          <img src="Zeni.jfif" alt="User" class="rounded-circle me-1" width="40" height="40"><br>
          <span >Arjay</span>
        </div>
        <div class="user text-center">
          <img src="Zeni.jfif" alt="User" class="rounded-circle me-1" width="40" height="40"><br>
          <span >Arjay</span>
        </div>
        <div class="user text-center">
          <img src="Zeni.jfif" alt="User" class="rounded-circle me-1" width="40" height="40"><br>
          <span >Arjay</span>
        </div>
        <div class="user text-center">
          <img src="Zeni.jfif" alt="User" class="rounded-circle me-1" width="40" height="40"><br>
          <span >Arjay</span>
        </div>
        <div class="user text-center">
          <img src="Zeni.jfif" alt="User" class="rounded-circle me-1" width="40" height="40"><br>
          <span >Arjay</span>
        </div>
        <div class="user text-center">
          <img src="Zeni.jfif" alt="User" class="rounded-circle me-1" width="40" height="40"><br>
          <span >Arjay</span>
        </div>
      </div>

      <div class="message-box m-0">
        <!-- List of Users -->
        <div class="user-list-item">
          <img src="Zeni.jfif" alt="User" class="rounded-circle me-1" width="40" height="40">
          <span class="user-name"> Arjay Subido</span>
          <p class="user-message">May Klase ba?</p>
        </div>
        <div class="user-list-item">
          <img src="samplePic/download2.jfif" alt="User" class="rounded-circle me-1" width="40" height="40">
          <span> Mario "Miko" Ofiaza III</span>
        </div>
        <div class="user-list-item">
          <img src="samplePic/download.jfif" alt="User" class="rounded-circle me-1" width="40" height="40">
          <span> Glenson Lozada</span>
        </div>
        <div class="user-list-item">
          <img src="samplePic/download1.jfif" alt="User" class="rounded-circle me-1" width="40" height="40">
          <span> Jhonnel Manaois</span>
        </div>
        <div class="user-list-item">
          <img src="samplePic/Yoriichi Tsugikuni.jfif" alt="User" class="rounded-circle me-1" width="40" height="40">
          <span> Dionece Collano</span>
        </div>
      </div>
    
  </div>
