<div class="container-fluid">
  <header class="header">
    <div class="contact-service">
      <h4>Financial Statement</h4>
      <h5>Contact our DSF Office:</h5>
      <p>Email: nlacacademydsf&#64;gmail.com</p>
    </div>
  </header>

    <div class="container mt-2">
      <h5>Uploaded by the DSF Office <a class="btn btn-primary" (click)="openNewPaymentAlert()">New Payment</a></h5>
      <div class="row">
        <div *ngIf="documents.length === 0" class="col-md-12 text-center mt-5">
          <img src="default-image.png" alt="No documents available" width="300" height="300" class="img-fluid mb-3">
          <p class="text-muted">No documents uploaded yet.</p>
        </div>
               
        <div *ngFor="let document of documents" class="col-md-3 mb-4">
          <div class="card text-bg-dark shadow-sm border-light text-dark" (click)="openModal(document.url)">
              <img 
                  [src]="document.url" 
                  class="card-img blur-image" 
                  alt="{{ document.filename }}" 
                   
                  style="cursor: pointer;"
              >
              <div class="card-img-overlay">
                  <h5 class="card-title">{{ document.title || 'Statement of Account' }}</h5>
                  <p class="card-text">Uploaded on: {{ document.date_uploaded }}</p>
              </div>
          </div>
      </div>
      </div>
    </div> 
  </div>