/* General Styles */
body {
  font-family: 'Georgia', sans-serif;
  background-color: #f8f9fa; /* Light background for contrast */
  color: #343a40; /* Dark text for readability */
}

/* Header Styles */
.header {
  background-color: #2c9ace; /* Header background color */
  color: white; /* Text color */
  padding: 20px; /* Padding around the header */
  border-radius: 10px; /* Rounded corners */
  min-height: 100px; /* Set a minimum height for the header */
}

/* Card Styles for Uploaded Documents */
.card {
  border: none; /* No border for a cleaner look */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.card-body {
  padding: 1rem; /* Padding inside cards */
}

.card-title {
  font-size: 1.25rem; /* Larger title font size */
}

.card-text {
  color: #6c757d; /* Muted text color for descriptions */
}

/* Button Styles */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Contact Service Section Styles */
.contact-service {
  padding: 20px;
}

.contact-service h5 {
  font-weight: bold;
}

.contact-service p {
  margin-bottom: 10px;
}

/* Payment Form Styles */
.payment-form {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.payment-form h6 {
  font-weight: bold;
  color: #333;
}

.form-group label {
  font-weight: bold;
}

/* Blur Image Effect */
.blur-image {
  filter: blur(5px); /* Adjust the blur intensity as needed */
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.card:hover .blur-image {
  filter: blur(0); /* Remove blur on hover */
}

/* Tab Group Styles */
.mat-tab-group {
  margin: 20px; /* Space around the tab group */
}

/* Table Styles */
.table {
  width: 100%; /* Full width for tables */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2; /* Light gray for odd rows */
}

.table-hover tbody tr:hover {
  background-color: #e9ecef; /* Slightly darker gray on hover */
}

.thead-light th {
  background-color: #2c9ace; /* Primary color for header */
  color: white; /* White text for contrast */
}

/* Custom SweetAlert Styles (if used) */
.custom-swal-popup {
    width: 500px; /* Set a fixed width for SweetAlert popup */
    justify-content: start;
}

.custom-swal-title {
    text-align: start; /* Align title to the left in SweetAlert popup */
}

.custom-swal-button {
    background-color: #2c9ace; /* Customize button color in SweetAlert popup */
    color: white; /* Button text color in SweetAlert popup */
}

.placeholder {
  background-color: #e0e0e0; /* Light gray color */
}

.placeholder-glow {
  animation: pulse-animation 1.5s infinite; /* Add animation */
}

@keyframes pulse-animation {
  from {
      opacity: 0.5;
  }
  
  to {
      opacity: 1;
  }
}