.custom-table {
    border-radius: 10px; /* Rounded corners for the table */
    overflow: hidden; /* Prevents overflow for rounded corners */
  }
  
  .table {
    background-color: #ffffff; /* White background for the table */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  .table th {
    background-color: #007bff; /* Bootstrap primary color */
    color: white; /* White text for header */
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f9ff; /* Light blue for odd rows */
  }
  
  .table-striped tbody tr:hover {
    background-color: #e1f5fe; /* Light blue on hover */
  }
  
  .card {
    border: none; /* Remove card border */
  }
  
  .card-body {
    padding: 20px; /* Add padding to card body */
  }
  
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .custom-table {
      font-size: 14px; /* Smaller font size on mobile */
    }
  }

  .header {
    background-color: #007bff; /* Header background color */
     /* Text color */
    padding: 20px; /* Padding around the header */
    border-radius: 10px; /* Rounded corners */
    min-height: 100px; /* Set a minimum height for the header */
    width: fit-content;
    height: fit-content;
  }
  
  .header-content {
    flex-grow: 1; /* Allow content to take up remaining space */
  }
  