body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 70vw;
    margin: 0 auto;
    /* padding: 20px; */
  }
  
  .navbar {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-brand {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .nav-link {
    color: #333;
    transition: color 0.2s ease;
  }
  
  .nav-link:hover {
    color: #337ab7;
  }
  
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .card-img {
    object-fit: cover;
    height: 50vh;
    width: 100%;
  }
  
  .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 18px;
    color: #fff;
  }
  
  .features-section {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .features-column {
    margin-bottom: 20px;
  }
  
  .registration-column {
    margin-bottom: 20px;
  }
  
  .registration-steps {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .registration-steps li {
    margin-bottom: 10px;
  }
  
  .registration-steps li strong {
    font-weight: bold;
    color: #337ab7;
  }
  
  .benefits-of-registering {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .benefits-of-registering li {
    margin-bottom: 10px;
  }
  
  .benefits-of-registering li strong {
    font-weight: bold;
    color: #337ab7;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer ul li i {
    font-size: 18px;
    margin-right: 10px;
  }