<header>
  <blockquote mat-dialog-title class="blockquote">
    <strong>Subject: Mathematics</strong>
  </blockquote>
  <footer class="blockquote-footer h6 ms-3">
    Schedule:
  </footer>
</header>



  <mat-dialog-content>
    <div class="d-flex justify-content-between align-items-center">
      <blockquote class="blockquote mb-0">Attendance</blockquote>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  
    
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Attendance Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>January 1, 2022</td>
            <td>Present</td>
          </tr>
          <tr>
            <td>January 3, 2022</td>
            <td>Absent</td>
          </tr>
          <tr>
            <td>January 5, 2022</td>
            <td>Present</td>
          </tr>
          <tr>
            <td>January 7, 2022</td>
            <td>Present</td>
          </tr>
          <tr>
            <td>January 9, 2022</td>
            <td>Absent</td>
          </tr>
          <!-- Add more rows for each attendance date -->
        </tbody>
      </table>
  </mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn btn-secondary">Close</button>
</mat-dialog-actions>