<!-- <div class="container mt-2">
  <div class="card">
    <div class="card-header">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><strong>LRN:</strong> 87234954</td>
            <td class="text-end"><strong>Contact Number:</strong> 093-440-3790</td>
          </tr>
          <tr>
            <td><strong>Name:</strong> Arjay Subido</td>
            <td class="text-end"><strong>Grade:</strong> 12</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-body">
      <span>Statement of Account as of Date: <strong>2024/08/25</strong></span>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Charges/OR</th>
            <th scope="col">Payments/CR</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">2024/08/24</th>
            <td>85324-1 Acc Payment</td>
            <td></td>
            <td>5,000.00</td>
            <td>0.00</td>
          </tr>
          <tr>
            <th scope="row">2024/09/24</th>
            <td>89624-1 Acc Payment</td>
            <td>3,953.00</td>
            <td>5,000.00</td>
            <td>0.00</td>
          </tr>
          <tr>
            <th scope="row">2024/10/24</th>
            <td>62534-1 Acc Payment</td>
            <td>5,000.00</td>
            <td>0.00</td>
            <td>0.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

