<mat-stepper >
    <mat-step label="Personal Information"  state="phone">
        <div class="container">
            <app-personal-information></app-personal-information>
        </div>
    </mat-step>
    <mat-step label="Payment" state="phone">
        <div class="container">
            <app-payment></app-payment>
        </div>
    </mat-step>
    <mat-step label="Payment Approval" state="phone">
        <div class="container">
            <app-payment-approval></app-payment-approval>
        </div>
    </mat-step>
    <mat-step label="Student Contract" state="phone">
        <div class="container">
            <app-student-contract></app-student-contract>
        </div>
    </mat-step>
    <mat-step label="ID Photo">
        <div class="container" state="phone">
            <app-id-photo></app-id-photo>
        </div>
    </mat-step>
    <mat-step label="Submission & Verification" state="phone">
        <div class="container">
            <app-submission-verification></app-submission-verification>
        </div>
    </mat-step>
    <mat-step label="Confirmation of Official Registration" state="phone">
        <div class="container">
            <app-confirmation></app-confirmation>
        </div>
    </mat-step>
</mat-stepper>
  