<div class="col-md ">
  <div class="card-body enrollment_proccess">
      <blockquote class="blockquote m-3" style="border-bottom: 2px solid; border-bottom-color: black;">
        <strong>Enrollment Process</strong>
      </blockquote>
      
      <mat-list>
        <mat-list-item><i class="bi bi-check-circle-fill h3 text-success mx-2" style="float: left;"></i><strong  class="text-secondary"> Personal Information</strong>: Explore available programs and courses.</mat-list-item>
        <mat-list-item><i class="bi bi-2-circle-fill h3 mx-2" style="float: left;"></i><strong> Payment</strong>: Gather necessary documents like transcripts and ID.</mat-list-item>
        <mat-list-item><i class="bi bi-3-circle-fill h3 mx-2" style="float: left;"></i><strong> DSF Approval</strong>: Fill out the application form accurately.</mat-list-item>
        <mat-list-item><i class="bi bi-4-circle-fill h3 mx-2" style="float: left;"></i><strong> Student Contract</strong>: Send your application along with required fees.</mat-list-item>
        <mat-list-item><i class="bi bi-5-circle-fill h3 mx-2" style="float: left;"></i><strong> Official Registration</strong>: Wait for the admission decision and follow up as needed.</mat-list-item>
      </mat-list>
    </div>
  </div>