<section>
    <div class="container-fluid ">
        <blockquote class="blockquote mb-4" style="border-bottom: 2px solid; border-bottom-color: black;">
            <strong> Submission & Verification of Documents</strong>
        </blockquote>
        
        <div class="row g-3">
            <div class="col-md enrollment-details">
                <div class="card border-success mb-3" >
                    <!-- <div class="card-header" style="background-color: #3ABEF9;"><i class="bi bi-exclamation-octagon text-primary"></i> 
                        Note: This is needed before the VP Student Services will approve your enrolment.</div> -->
                    <div class="card-body">
                        <blockquote class="blockquote mb-4" style="border-bottom: 2px solid; border-bottom-color: black;">
                            <strong><i class="bi bi-postcard text-primary"></i> Enrollment Details</strong>
                        </blockquote>

                        <div class="d-flex g-2 text-center">
                            <div class="form-floating mb-1">
                                <input type="" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="873-525-3952">
                                <label for="floatingPlaintextInput">LRN: </label>
                              </div>

                            <div class="form-floating mb-1">
                                <input type="" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput" placeholder="" value="">
                                <label for="floatingEmptyPlaintextInput"></label>
                              </div>

                              <div class="form-floating mb-1">
                                <input type="" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="12">
                                <label for="floatingPlaintextInput">Grade Level</label>
                              </div>
                        </div>
                        
                        <div class="d-flex g-2 text-center">
                            <div class="form-floating mb-1">
                                <input type="" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="Subido">
                                <label for="floatingPlaintextInput">Lastname</label>
                              </div>

                            <div class="form-floating mb-1">
                                <input type="" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput" placeholder="" value="Arjay">
                                <label for="floatingEmptyPlaintextInput">Firstname</label>
                              </div>

                              <div class="form-floating mb-1">
                                <input type="" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="Cardoza">
                                <label for="floatingPlaintextInput">Middlename</label>
                              </div>
                        </div>

                        <div class="d-flex g-2 text-center">
                            <div class="form-floating mb-1">
                                <input type="" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="08/19/2003">
                                <label for="floatingPlaintextInput">Birthdate</label>
                              </div>

                            <div class="form-floating mb-1">
                                <input type="" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput" placeholder="" value="Male">
                                <label for="floatingEmptyPlaintextInput">Gender</label>
                              </div>

                              <div class="form-floating mb-1">
                                <input type="" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="Iglesia ni Cristo">
                                <label for="floatingPlaintextInput">Religion</label>
                              </div>
                        </div>

                        <div class="d-flex g-2 text-center">
                            <div class="form-floating mb-1">
                                <input type="" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="09304403790">
                                <label for="floatingPlaintextInput">Phone Number</label>
                              </div>

                            <div class="form-floating mb-1">
                                <input type="email" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput" placeholder="" value="arjaysubido1@gmail.com">
                                <label for="floatingEmptyPlaintextInput">Email</label>
                              </div>

                              <div class="form-floating mb-1">
                                <input type="" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="Dungon Sison Pangasinan">
                                <label for="floatingPlaintextInput">Address</label>
                              </div>
                            </div>

                            <div class="d-flex g-2 text-center">
                              <div class="form-floating mb-1">
                                  <input type="" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="Jessica Cardoza">
                                  <label for="floatingPlaintextInput">Guardians Name</label>
                                </div>

                              <div class="form-floating mb-1">
                                  <input type="" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput" placeholder="" value="09467196405">
                                  <label for="floatingEmptyPlaintextInput">Contact No.</label>
                                </div>

                                <div class="form-floating mb-1">
                                  <input type="" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="Dungon Sison Pangasinan">
                                  <label for="floatingPlaintextInput">Current Address</label>
                                </div>
                          </div>
                    </div>
                  </div>
            </div>

            <div class="col-md payment-details">
              <div class="card border-success mb-3" >
                  <!-- <div class="card-header" style="background-color: #3ABEF9;"><i class="bi bi-exclamation-octagon text-primary"></i> 
                      Note: This is needed before the VP Student Services will approve your enrolment.</div> -->
                  <div class="card-body">
                      <blockquote class="blockquote mb-4" style="border-bottom: 2px solid; border-bottom-color: black;">
                          <strong><i class="bi bi-coin text-warning"></i> Payment Details</strong>
                      </blockquote>

                      <table class="payment-table">
                        <tbody>
                          <tr>
                            <th>Total Tuition Fee:</th>
                            <td class="text-end">0.00</td>
                          </tr>
                          <tr>
                            <th>Amount Paid:</th>
                            <td class="text-end">0.00</td>
                          </tr>
                          <tr>
                            <th>Date of Payment:</th>
                            <td class="text-end">08/24/2024</td>
                          </tr>
                          <tr>
                            <th>Current Balance:</th>
                            <td class="text-end">0.00</td>
                          </tr>
                        </tbody>
                      </table>
                      
                  </div>
                </div>
          </div>
            <a class="btn btn-success" style="float:right;" type="submit">Next</a>
        </div>
    </div>
</section>