.enrollment-details{
    display: flex;
  justify-content: center;
  align-items: flex-start; 
  /* padding: 10px;  */
  height: auto;
}

@media(max-width: 576px){
  .payment-table th, .payment-table td {
      font-size: 12px; /* Smaller font size */
    }

    .enrollment-details{
      font-size: 12px;
    }
}