<div class="container mt-3">
  <div class="row">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item ">
          <a class="text-primary" routerLink="/register/admission">Admission</a>
        </li>
        <li class="breadcrumb-item active text-dark" aria-current="page">Personal Info</li>
      </ol>
    </nav>
    
    <div class="col-md image">
      <div class="card header">
        <img src="/nlac1.jpg" 
             class="card-img" 
             alt="Northern Luzon Adventist College Academy" 
             style="object-fit: cover; height: 30vh;">
        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-white"><strong>Northern Luzon Adventist College Academy</strong></h5>
          <h6 class="card-text text-white">The School that Prepares for Life</h6>
        </div>
      </div>
      <div class="col-md">
      <div class="card-body">
          <blockquote class="blockquote m-3" style="border-bottom: 2px solid; border-bottom-color: black;">
            <strong>Enrollment Process</strong>
          </blockquote>
          
          <div class="list-group">
            <a class="list-group-item list-group-item-action">
              <i class="bi bi-1-circle-fill text-warning h3 mx-2" style="float: left;"></i>
              <strong class="text-dark">Personal Information</strong>: Fill up the required fields in the Personal Information form, including your full name, date of birth, gender, address, and contact information. Ensure all details are accurate to avoid issues later.
            </a>
            
            <a class="list-group-item list-group-item-action">
              <i class="bi bi-2-circle-fill text-warning h3 mx-2" style="float: left;"></i>
              <strong class="text-secondary">Enrollment Details</strong>: Provide your enrollment details such as the grade level you are applying for, the strand (if applicable), and any previous school information. This helps us understand your academic background.
            </a>
            
            <a class="list-group-item list-group-item-action">
              <i class="bi bi-3-circle-fill text-warning h3 mx-2" style="float: left;"></i>
              <strong class="text-secondary">Payment</strong>: Review the tuition fees and payment options available. Make sure to complete the payment process by the specified deadline to secure your enrollment.
            </a>
            
            <a class="list-group-item list-group-item-action">
              <i class="bi bi-4-circle-fill text-warning h3 mx-2" style="float: left;"></i>
              <strong class="text-secondary">DSF Approval</strong>: Await approval from the Department of Student Affairs (DSF). You may need to provide additional documents or information if requested. Check your email regularly for updates on your application status.
            </a>
            
            <a class="list-group-item list-group-item-action">
              <i class="bi bi-5-circle-fill text-warning h3 mx-2" style="float: left;"></i>
              <strong class="text-secondary">Official Registration</strong>: Wait for the registration decision from the school administration. Follow up as needed to ensure your application is processed in a timely manner. Once approved, you will receive confirmation and further instructions.
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md mb-3 form-col">
      <blockquote class="blockquote mb-4 mt-3" style="border-bottom: 2px solid; border-bottom-color: black;">
        <strong>Personal Information</strong>
      </blockquote>

      <form (ngSubmit)="onSubmit(personalInfoForm)" #personalInfoForm="ngForm">
        <div class="row g-2">
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>LRN</mat-label>
                    <input matInput placeholder="LRN" id="lrn" [(ngModel)]="student.LRN" name="lrn"  readonly>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row g-2">
            <div class="col-md">
                <mat-form-field>
                    <mat-label>Firstname</mat-label>
                    <input matInput placeholder="First Name" [(ngModel)]="student.fname" name="fname" 
                           required oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');" title="Please enter letters only." readonly>
                </mat-form-field>
            </div>
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>Lastname</mat-label>
                    <input matInput id="lname" [(ngModel)]="student.lname" name="lname" 
                           required oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');" title="Please enter letters only." readonly>
                </mat-form-field>
            </div>
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>Middlename</mat-label>
                    <input matInput id="mname" [(ngModel)]="student.mname" name="mname" 
                           required oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');" title="Please enter letters only." readonly>
                </mat-form-field>
            </div>
    
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>Suffix</mat-label>
                    <input matInput id="suffix" [(ngModel)]="student.suffix" name="suffix"
                    oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');" title="Please enter letters only.">
                </mat-form-field>
            </div>
        </div>
    
        <div class="row g-2">
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>Birth Date</mat-label>
                    <input matInput [matDatepicker]="picker" id="bdate" [(ngModel)]="student.bdate" name="bdate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
    
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>Gender</mat-label>
                    <mat-select id="gender" name="gender" [(ngModel)]="student.gender" required>
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>Religion</mat-label>
                    <input matInput id="religion" [(ngModel)]="student.religion" name="religion"
                           required oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');" title="Please enter letters only.">
                </mat-form-field>
            </div>
        </div>
    
        <div class="row g-2 mt-2">
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="number" id="contact" [(ngModel)]="student.contact_no" name="contact"
                           required pattern="[0-9]*" title="Please enter numbers only.">
                </mat-form-field>
            </div>
    
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="email" [(ngModel)]="student.email" name="email"
                           readonly required email title='Please enter a valid email address.'>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row g-2">
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>Birth Place</mat-label>
                    <input matInput id="bplace" [(ngModel)]="student.bplace" name="bplace"
                           required oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');" title='Please enter letters only.' >
                </mat-form-field>
            </div>
    
            <div class="col-md">
                <mat-form-field class='w-100'>
                    <mat-label>Address</mat-label>
                    <!-- Allowing letters, numbers, and spaces for address -->
                    <input matInput id='address' [(ngModel)]='student.address' name='address' 
                           required oninput="this.value = this.value.replace(/[^A-Za-z0-9]/g, '');"  title='Please enter a valid address.' >
                </mat-form-field>
            </div>
        </div>
    
        <!-- Submit Button -->
        <button mat-raised-button class='btn btn-success mb-2' type='submit' 
                [disabled]="personalInfoForm.invalid || !personalInfoForm.valid || personalInfoForm.pristine"
                style='float:right;'>Submit</button>
    
    </form>
    </div>
  </div>
</div>