<div class="container mt-3">
  <div class="row mb-2">
    <nav class="nav nav-pills justify-content-center">
        <a class="nav-link" aria-current="page">
            <i class="bi bi-1-circle-fill text-warning h3"></i>
            <strong class="text-dark"> Personal Information</strong>
        </a>
        <a class="nav-link">
            <i class="bi bi-2-circle-fill text-warning h3"></i>
            <strong class="text-secondary"> Enrollment Details</strong>
        </a>
        <a class="nav-link">
            <i class="bi bi-3-circle-fill text-warning h3"></i>
            <strong class="text-secondary"> Payment</strong>
        </a>
        <a class="nav-link">
            <i class="bi bi-4-circle-fill text-warning h3"></i>
            <strong class="text-secondary"> DSF Approval</strong>
        </a>
        <a class="nav-link">
            <i class="bi bi-5-circle-fill text-warning h3"></i>
            <strong class="text-secondary"> Official Registration</strong>
        </a>
    </nav>
</div>

<div class="row">
  <div class="col-md mb-3 form-col">
      <!-- Image Card -->
      <div class="card header mb-4">
          <img src="/nlac1.jpg" 
               class="card-img" 
               alt="Northern Luzon Adventist College Academy" 
               style="object-fit: cover; height: 30vh;">
          <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title text-white"><strong>Northern Luzon Adventist College Academy</strong></h5>
              <h6 class="card-text text-white">The School that Prepares for Life</h6>
              <h6 class="card-text text-white">S.Y. 2024-2025</h6>

          </div>
      </div>

      <!-- Personal Information Form -->
      <blockquote class="blockquote mb-4 mt-3" style="border-bottom: 2px solid; border-bottom-color: black;">
          <strong><i class="bi bi-1-circle-fill text-warning h3 mx-2"></i>Personal Information</strong>
      </blockquote>

      <form (ngSubmit)="onSubmit(personalInfoForm)" #personalInfoForm="ngForm">
          <div class="row g-2">
              <div class="col-md">
                  <mat-form-field class="w-100">
                      <mat-label>LRN</mat-label>
                      <input matInput placeholder="LRN" id="lrn" [(ngModel)]="student.LRN" name="lrn" readonly>
                  </mat-form-field>
              </div>
          </div>

          <div class="row g-2">
              <div class="col-md">
                  <mat-form-field>
                      <mat-label>Firstname</mat-label>
                      <input matInput placeholder="First Name" [(ngModel)]="student.fname" name="fname" 
                             required oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');" title="Please enter letters only." readonly>
                  </mat-form-field>
              </div>
              <div class="col-md">
                  <mat-form-field class="w-100">
                      <mat-label>Lastname</mat-label>
                      <input matInput id="lname" [(ngModel)]="student.lname" name="lname" 
                             required oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');" title="Please enter letters only." readonly>
                  </mat-form-field>
              </div>
              <div class="col-md">
                  <mat-form-field class="w-100">
                      <mat-label>Middlename</mat-label>
                      <input matInput id="mname" [(ngModel)]="student.mname" name="mname" 
                            oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');" title="Please enter letters only." readonly>
                  </mat-form-field>
              </div>

              <div class="col-md">
                  <mat-form-field class="w-100">
                      <mat-label>Suffix</mat-label>
                      <input matInput id="suffix" [(ngModel)]="student.suffix" name="suffix"
                      oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');" title="Please enter letters only.">
                  </mat-form-field>
              </div>
          </div>

          <div class="row g-2">
              <div class="col-md">
                <mat-form-field class='w-100'>
                  <mat-label>Birth Date</mat-label>
                  <input matInput
                        id='bdate' 
                        [(ngModel)]='student.bdate' 
                        name='bdate' 
                        required
                        readonly
                        oninput="this.value = this.value.replace(/[^0-9-]/g, '');" >
                </mat-form-field>
              </div>

              <div class="col-md">
                  <mat-form-field class="w-100">
                      <mat-label>Gender</mat-label>
                      <mat-select id="gender" name="gender" [(ngModel)]="student.gender" required>
                          <mat-option value="Male">Male</mat-option>
                          <mat-option value="Female">Female</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-md">
                  <mat-form-field class="w-100">
                      <mat-label>Religion</mat-label>
                      <input matInput id="religion" [(ngModel)]="student.religion" name="religion"
                             required oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');" title='Please enter letters only.'>
                  </mat-form-field>
              </div>
          </div>

          <div class="row g-2 mt-2">
              <div class="col-md">
                  <mat-form-field class='w-100'>
                      <mat-label>Phone Number</mat-label>
                      <input matInput type='text' id='contact' [(ngModel)]='student.contact_no' name='contact'
                             required pattern="[0-9]*" title='Please enter numbers only.'
                             oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                             maxlength='11' 
                             minlength='11'>
                  </mat-form-field>
              </div>

              <div class='col-md'>
                  <mat-form-field class='w-100'>
                      <mat-label>Email</mat-label>
                      <input matInput type='email' id='email' [(ngModel)]='student.email' name='email'
                             readonly required email title='Please enter a valid email address.'>
                  </mat-form-field>
              </div>
          </div>

          <div class='row g-2'>
              <div class='col-md'>
                  <mat-form-field class='w-100'>
                      <mat-label>Birth Place</mat-label>
                      <input matInput id='bplace' [(ngModel)]='student.bplace' name='bplace'
                             required oninput="this.value = this.value.replace(/[^0-9a-zA-ZñÑ,\s\'.]/g, '');" title='Please enter letters only.' >
                  </mat-form-field>
              </div>

              <div class='col-md'>
                  <mat-form-field class='w-100'>
                      <mat-label>Address</mat-label>
                      <!-- Allowing letters, numbers, and spaces for address -->
                      <input matInput id='address' [(ngModel)]='student.address' name='address' 
                             required oninput="this.value = this.value.replace(/[^0-9a-zA-ZñÑ\s\'.]/g, '');"  title='Please enter a valid address.' >
                  </mat-form-field>
              </div>
          </div>

          <!-- Submit Button -->
          <button mat-raised-button class='btn btn-success mb-2' type='submit' 
                  [disabled]="personalInfoForm.invalid || !personalInfoForm.valid || personalInfoForm.pristine"
                  style='float:right;'>Submit
          </button>

      </form>
  </div> <!-- End of merged column -->
</div> <
</div>