<div class="container mt-3">
  <div class="row">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item ">
          <a class="text-primary" routerLink="/register/admission">Admission</a>
        </li>
        <li class="breadcrumb-item active text-dark" aria-current="page">Personal Info</li>
      </ol>
    </nav>
    
    

    <div class="col-md image">
      <div class="card header">
        <img src="/nlac1.jpg" 
             class="card-img" 
             alt="Northern Luzon Adventist College Academy" 
             style="object-fit: cover; height: 30vh;">
        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-white"><strong>Northern Luzon Adventist College Academy</strong></h5>
          <h6 class="card-text text-white">The School that Prepares for Life</h6>
        </div>
      </div>
      <div class="col-md">
      <div class="card-body">
          <blockquote class="blockquote m-3" style="border-bottom: 2px solid; border-bottom-color: black;">
            <strong>Enrollment Process</strong>
          </blockquote>
          
          <mat-list>
            <mat-list-item><i class="bi bi-1-circle-fill h3 mx-2" style="float: left;"></i><strong> Personal Information</strong>: Explore available programs and courses.</mat-list-item>
            <mat-list-item><i class="bi bi-2-circle-fill h3 mx-2" style="float: left;"></i><strong class="text-secondary"> Payment</strong>: Gather necessary documents like transcripts and ID.</mat-list-item>
            <mat-list-item><i class="bi bi-3-circle-fill h3 mx-2" style="float: left;"></i><strong class="text-secondary"> DSF Approval</strong>: Fill out the application form accurately.</mat-list-item>
            <mat-list-item><i class="bi bi-4-circle-fill h3 mx-2" style="float: left;"></i><strong class="text-secondary"> Student Contract</strong>: Send your application along with required fees.</mat-list-item>
            <mat-list-item><i class="bi bi-5-circle-fill h3 mx-2" style="float: left;"></i><strong class="text-secondary"> Official Registration</strong>: Wait for the admission decision and follow up as needed.</mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
    <div class="col-md mb-3 form-col">
      <blockquote class="blockquote mb-4 mt-3" style="border-bottom: 2px solid; border-bottom-color: black;">
        <strong>Personal Information</strong>
      </blockquote>

        <form (ngSubmit)="onSubmit()" #personalInfoForm="ngForm">
          <div class="row g-2">
            
            <div class="col-md">
              <mat-form-field class="w-100">
                <mat-label>LRN</mat-label>
                <input matInput id="lrn" [(ngModel)]="student.LRN" name="lrn">
              </mat-form-field>
          </div>

              <div class="col-md">
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="public">Public</mat-radio-button>
                  <mat-radio-button value="private">Private</mat-radio-button>
                </mat-radio-group>
              </div>
          </div>
                
          <div class="row g-2">

            <div class="col-md">
              <mat-form-field class="w-100">
                <mat-label>Firstname</mat-label>
                <input matInput id="fname" [(ngModel)]="student.fname" name="fname">
              </mat-form-field>
          </div>
          <div class="col-md">
            <mat-form-field class="w-100">
              <mat-label>Lastname</mat-label>
              <input matInput id="lname" [(ngModel)]="student.lname" name="lname">
            </mat-form-field>
        </div>
        <div class="col-md">
          <mat-form-field class="w-100">
            <mat-label>Middlename</mat-label>
            <input matInput id="mname" [(ngModel)]="student.mname" name="mname">
          </mat-form-field>
      </div>
          
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Suffix</mat-label>
                    <input matInput id="suffix" [(ngModel)]="student.suffix" name="suffix">
                  </mat-form-field>
              </div>
            </div>
        
              <div class="row g-2">
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Birth Date</mat-label>
                    <input matInput [matDatepicker]="picker" id="bdate" [(ngModel)]="student.bdate" name="bdate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

               

                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Gender</mat-label>
                    <mat-select id="gender" name="gender" [(ngModel)]="student.gender" required>
                      <mat-option value="Male">Male</mat-option>
                      <mat-option value="Female">Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Religion</mat-label>
                    <input matInput id="religion" [(ngModel)]="student.religion" name="religion" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row g-2 mt-2">
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="number" id="pnumber" [(ngModel)]="student.pnumber" name="pnumber" required>
                  </mat-form-field>
                </div>

              
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="email" [(ngModel)]="student.email" name="email" required>
                  </mat-form-field>
                </div>
              </div>


              <div class="row g-2">
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Birth Place</mat-label>
                    <input matInput id="bplace" [(ngModel)]="student.bplace" name="bplace" required>
                  </mat-form-field>
                </div>

                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Address</mat-label>
                    <input matInput id="address" [(ngModel)]="student.address" name="address" required>
                  </mat-form-field>
                </div>
              </div>

              <!-- <blockquote class="blockquote mb-4" style="border-bottom: 2px solid; border-bottom-color: black;">
                <strong>Parents Information</strong>
              </blockquote>
          
              <div class="row g-2">
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Mother's Maiden Name</mat-label>
                    <input matInput id="motherMaidenName" name="motherMaidenName">
                  </mat-form-field>
                </div>
          
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Mother's Contact Number</mat-label>
                    <input matInput type="number" id="motherContact" name="motherContact">
                  </mat-form-field>
                </div>
          
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Mother's Religion</mat-label>
                    <input matInput id="motherReligion" name="motherReligion">
                  </mat-form-field>
                </div>
              </div>
          
              <div class="row g-2">
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Father's Name</mat-label>
                    <input matInput id="fatherName" name="fatherName">
                  </mat-form-field>
                </div>
          
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Father's Contact Number</mat-label>
                    <input matInput type="number" id="fatherContact" name="fatherContact">
                  </mat-form-field>
                </div>
          
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Father's Religion</mat-label>
                    <input matInput id="fatherReligion" name="fatherReligion">
                  </mat-form-field>
                </div>
              </div>
          
              <div class="row g-2">
                <div class="col-md">
                  <mat-form-field class="w-100">
                    <mat-label>Dormitory</mat-label>
                    <mat-select id="dormitory" name="dormitory">
                      <mat-option value="dormitory">Dormitory</mat-option>
                      <mat-option value="village">Village</mat-option>
                      <mat-option value="parentsHome">Parent's Home</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> -->
           <button mat-raised-button class="btn btn-success mb-2" type="submit" [disabled]="personalInfoForm.invalid" style="float:right;">Submit</button>
  </form>
    </div>
  </div>
</div>