  <section>
  <div class="container mt-3">
    <app-stepper></app-stepper>

    <div class="row">
        <div class="card header">
          <img src="/nlac1.jpg" 
              class="card-img" 
              alt="Northern Luzon Adventist College Academy" 
              style="object-fit: cover; height: 30vh;">
            <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white"><strong>Northern Luzon Adventist College Academy</strong></h5>
            <h6 class="card-text text-white">The School that Prepares for Life</h6>
            <h6 class="card-text text-white">S.Y. 2024-2025 </h6>
          </div>
        </div>
        
      <div class="col-md mb-3 form-col">
        <div class="container">
          <div class="row g-2">
            <div class="col-md">
              <blockquote class="blockquote mt-3" style="border-bottom: 2px solid; border-bottom-color: black;">
                <strong>
                    <i class="bi bi-3-circle-fill text-warning h3 mx-2"></i>Payment Details <br>
                    <span>Name: </span> <strong>{{ lname }} {{ fname }}</strong> <br>
                    <span>Grade Level: </span> <strong>{{ enrollment?.grade_level || '' }}</strong>
                </strong>
            </blockquote>
            
              <div class="card-body mb-2">
                <table class="tuition-table">
                  <tbody *ngIf="tuitionDetails">
                      <tr>
                          <th>Old Account:</th>
                          <td class="text-end">{{ tuitionDetails?.old_account || '0.00' }}</td>
                      </tr>
                      <tr>
                          <th>Tuition Fee:</th>
                          <td class="text-end">{{ tuitionDetails?.tuition | number: '1.2-2' }}</td>
                      </tr>
                      <tr>
                          <th>General and Miscellaneous Fees:</th>
                          <td class="text-end" style="border-bottom: 2px solid; border-bottom-color: black;">{{ tuitionDetails?.general || '0.00' }}</td>
                          <!-- <td class="text-end"></td> -->
                      </tr>
                      <tr>
                          <th>Total Tuition and Fees (+old account):</th>
                          
                          <td class="text-end">{{ calculateTotalBalance() | number: '1.2-2' }}</td>

                      </tr>
                      <tr>
                          <th>Less: ESC</th>
                          <td class="text-end">({{ tuitionDetails?.esc | number: '1.2-2' }})</td>
                      </tr>
                     
                      <tr>
                          <th class="text-end">Down Payment (40%):</th>
                          <td class="text-end" style="border-bottom: 2px solid; border-bottom-color: black;">
                              {{ calculateDownPaymentNoEsc() | number: '1.2-2' }}
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>
            </div>
      
            <div class="col-md-12">
              <div class="card border-info mb-3" >
              <div class="row d-flex">
                <div class="col-md">
                <div *ngIf="student.grade_level === '11' || student.grade_level === '12'" class="card-header text-primary">
                  <i class="bi bi-exclamation-octagon"></i>
                  <strong> For incoming Grade 11,</strong> ESC Certificate can be used as down payment. Those coming from public school do not need to pay a down payment.
                </div>
                <div class="card-body">
                  <h5 class="card-title text-success">Payment Options</h5>
                  <p>We offer several convenient ways for you to make your payments:</p>
                  <ol>
                      <li>
                          <strong>Visit the School Cashier</strong>
                          <p class="card-text fw-bold">Our cashier is available:</p>
                          <ul>
                              <li>Monday to Friday: 7:30 AM - 12:00 PM</li>
                              <li>Monday to Thursday: 1:30 PM - 5:00 PM</li>
                          </ul>
                      </li>
                  </ol>
              
                  <div class="col-md mt-2">
                    <h5 class="card-title text-success">Payment History</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center"><strong>Proof of Payment</strong></th>
                                <th scope="col"><strong>Amount</strong></th>
                                <th scope="col"><strong>Date</strong></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="paymentHistory.length > 0; else noPayments">
                            <tr *ngFor="let payment of paymentHistory">
                                <td class="text-center"><img [src]="payment.proof_payment" alt="Payment Image" style="width: 50px; height: auto;"></td>
                                <td>&#8369;{{ payment.amount_paid }}</td>
                                <td>{{ payment.date_of_payment | date:'mediumDate' }}</td>
                            </tr>
                        </tbody>
                    </table>
                
                    <!-- Template for No Payments -->
                    <ng-template #noPayments>
                        <tr>
                            <td colspan="3" class="text-center">No payment history available.</td>
                        </tr>
                    </ng-template>
                </div>

              </div>
              </div>
              <div class="col-md">
                <div class="card-footer d-flex">
                  <div class="col-md">
                    <p>If you have a <strong class="text-success">Bank Deposit Slip</strong> or an <strong class="text-success">ESC Certificate</strong>, feel free to upload it here!</p>
                    <p>Your timely payment helps us provide the best services for our students. Thank you for your cooperation!</p>
                  </div>
                  <div class="col-md">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <label class="card-title h5"><strong>Proof of Payment:</strong></label>
                          <span class="text-primary h4"><i class="bi bi-receipt"></i></span>
                        </div>
                        <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                          <div class="d-flex gap-2">
                            <input type="file" id="imageUpload" (change)="onFileChange($event)" class="form-control" accept="image/*" required>
                          </div>
                  
                          <div class="col-md mt-2">
                            <mat-form-field appearance="fill" class="w-100">
                              <mat-label class="text-dark">Amount Paid</mat-label>
                              <input matInput type="number" id="amount_paid" name="amount_paid" [(ngModel)]="amount_paid">
                            </mat-form-field>
                          </div>
                  
                          <div class="col-md">
                            <mat-form-field appearance="fill" class="w-100">
                              <mat-label class="text-dark">Description</mat-label>
                              <textarea matInput id="description" [(ngModel)]="description" name="description"></textarea>
                            </mat-form-field>
                          </div>
                  
                          <button class="btn btn-success ms-3 mx-2" type="submit">Submit</button><br>
                        </form>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
  </section>